{% load static %}

<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>照片擷取</title>
	<style type="text/css">
		body { font-family: Helvetica, sans-serif; }
		h2, h3 { margin-top:0; }
		form { margin-top: 15px; }
		form > input { margin-right: 15px; }
		#results { float:right; margin:20px; padding:20px; border:1px solid; background:#ccc; }
	</style>
	<!-- css檔案 -->
	<link href="{% static 'style.css' %}" rel="stylesheet">
	<!-- webcam.js函式庫 -->
	<script type="text/javascript" src="{% static '/webcamjs-master/webcam.min.js' %}"></script>
	<!-- jquery for ajax -->
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
		
		<div id="results">照片:</div>

	
	<h1>Photo predict</h1>
	<h3>照片格式 300x300 jpg檔案</h3>
	<div id="my_camera">照片:</div>
	
	<!-- 設定webcam參數 -->
	<script language="JavaScript">
		Webcam.set({
			width: 300,
			height: 300,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	</script>
	<div id='predict'>
		<h1>判斷結果:</h1>
	</div>
	{{ ending }}
	<form>
		<input type=button value="Take Snapshot" onClick="take_snapshot()">
	</form>

	<!-- Code to handle taking the snapshot and displaying it locally -->
	<script language="JavaScript">
		$.ajaxSetup({
		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});
		// 設定js全域變數來儲存稍後產生的data uri
		var strData;
		var timeName;
		// 拍照程式
		function take_snapshot() {
			// js 時間物件
			var time=new Date();
			var y = time.getFullYear().toString()+'-'
			var m = (time.getMonth()+1).toString()+'-'
			var d = time.getDate().toString()+' '
			var h = time.getHours().toString()+'-'
			var mi = time.getMinutes().toString()+'-'
			var s = time.getSeconds().toString()
			timeName = y+m+d+h+mi+s			
			// webcam.snap會傳回一個base64的data uri image			
			Webcam.snap( function(data_uri) {
				strData = data_uri;
				document.getElementById('results').innerHTML = 
					'<h2>拍照結果:</h2>' + 
					'<img src="'+data_uri+'" />';						
			} );
			// 將照片傳回view
			$.ajax({
				url: "/predict/",
				type: "post",
				data: {'jsonData':JSON.stringify({'timeData':timeName,'photoData': strData})},
				success: function() {
					document.getElementById('predict').innerHTML =
						'<h1>判斷結果2:{{ ending }}</h1>'
				},
			});			
		}
	</script>
	
</body>
</html>
