{% load static %}
<!DOCTYPE html>
<html lang="en">
<style type="text/css">
  h2, h3 { margin-top:0; }
  form { margin-top: 15px; }
  form > input { margin-right: 15px; }
  #results {
   border:1px solid;
   height: 405px; 
 }
  #getValue {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .button {
    border:0;
    background-color:#003C9D;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
  }
  .button:hover{
    color:#003C9D;
    background-color:#fff;
    border:2px #003C9D solid;
  }   
</style>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UPLOAD</title>
  <!-- webcam.js函式庫 -->
  <script type="text/javascript" src="{% static '/webcamjs-master/webcam.min.js' %}"></script>
  <!-- jquery for ajax -->
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>  
  <!-- Bootstrap -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/set1.css' %}" />
  <link href="{% static 'css/overwrite.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- =========  -->
  <style type="text/css">
    /* HIDE RADIO */
    [type=radio] { 
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* IMAGE STYLES */
    [type=radio] + img {
      cursor: pointer;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + img {
      outline: 2px solid #f00;
    }
  </style> 
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
        <a class="navbar-brand" href="/index/"><span>自動產品識別</span></a>
      </div>
      <div class="navbar-collapse collapse">
        <div class="menu">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="/index/">Home</a></li>
            <li role="presentation" class="active"><a href="/upload/">UPLOAD</a></li>
            <li role="presentation"><a href="/predict/">PREDICT</a></li>
            <li role="presentation"><a href="/classify/">CLAASIFY</a></li>
            <li role="presentation"><a href="/about/">ABOUT US</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>






    {% csrf_token %}
  <div class="container">
    <div class="windowUpload" align="center" style="border:1px solid;height: 480px;">
      <h1>圖像擷取</h1>
      <h1>1.擷取圖像:</h1>
      <div id="my_camera">照片:</div>
      <form>
        <input class="button" type=button value="圖像擷取" onClick="take_snapshot()">
      </form>               
    </div>
    <div class="windowUpload" align="center" style="border:1px solid;">
      <h1>2.選取特徵:</h1>
      <form id="getValue">        
        <label>
          <input type="radio" name="test" value="10" checked>
          <img src="{% static 'img/10.png' %}">
        </label>
        <label>
          <input type="radio" name="test" value="50">
          <img src="{% static 'img/50.png' %}">
        </label>
        <label>
          <input type="radio" name="test" value="100">
          <img src="{% static 'img/100.png' %}">
        </label>
        <label>
          <input type="radio" name="test" value="500">
          <img src="{% static 'img/500.png' %}">
        </label>
        <label>
          <input type="radio" name="test" value="1000">
          <img src="{% static 'img/1000.png' %}">
        </label>
        <label>
          <input type="radio" name="test" value="1000ng">
          <img src="{% static 'img/1000ng.png' %}">
        </label>        
      </form>       
    </div>
    <div class="windowUpload">
      <div id="results" align="center">
        <h1>3.結果上傳:</h1>
      </div>  
    </div>            
  </div>






    <div class="last-div">
      <div class="container">
        <div class="row">
          <div class="copyright">
            &copy; NCHU. All Rights Reserved
            <div class="credits">
              Redirect to <a href="https://www.iciil.nchu.edu.tw/">創新產業暨國際學院</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <ul class="social-network">
            <li><a href="https://www.facebook.com/NCHUDEE/" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
          </ul>
        </div>
      </div>

      <a href="" class="scrollup"><i class="fa fa-chevron-up"></i></a>


    </div>
  

  <!-- 設定webcam參數 -->
  <script language="JavaScript">
    Webcam.set({
      width: 300,
      height: 300,
      image_format: 'jpeg',
      jpeg_quality: 100
    });
    Webcam.attach( '#my_camera' );
  </script>
  

  <!-- Code to handle taking the snapshot and displaying it locally -->
  <script language="JavaScript">
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    // 設定js全域變數來儲存稍後產生的data uri
    var strData;
    var timeName;
    // 拍照程式
    function take_snapshot() {
      // js 時間物件
      var time=new Date();
      var y = time.getFullYear().toString()+'-'
      var m = (time.getMonth()+1).toString()+'-'
      var d = time.getDate().toString()+' '
      var h = time.getHours().toString()+'-'
      var mi = time.getMinutes().toString()+'-'
      var s = time.getSeconds().toString()
      timeName = y+m+d+h+mi+s
      // webcam.snap會傳回一個base64的data uri image      
      Webcam.snap( function(data_uri) {
        strData = data_uri;
        document.getElementById('results').innerHTML = 
          '<h1>3.結果上傳:</h1>' + 
          '<img src="'+data_uri+'" />' +
          '<input type="button" value="sendData" onclick="sendData(strData)" />'
          ; 
      } );
    }
    // 將圖片傳回view,傳回的格式是json所以要先把strData這個字串轉成json
    function sendData(data_uri) {
      var form = document.getElementById('getValue');
      var value;
      for(var i = 0; i < form.test.length;i++) {
        if (form.test[i].checked) {
          value = form.test[i].value;
        }
      }
      $.ajax({
        url: "/upload/",
        type: "post",
        data: {'jsonData':JSON.stringify({'valueData':value,'timeData':timeName,'photoData': data_uri})},
        success: function() {
          alert('upload ok.');        
        },
      });
      document.getElementById('results').innerHTML = '照片:';
    }
  </script>





  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
  <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/fliplightbox.min.js' %}"></script>
  <script src="{% static 'js/functions.js' %}"></script>
  <script type="text/javascript">
    $('.portfolio').flipLightBox()
  </script>

</body>

</html>
